# Project settings
.idea/
.adk/
xmemory.egg-info/
*.egg-info/
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Unit test / coverage reports
.pytest_cache/

# Environments
.venv
.testpypi-verify/
.testpypi-verify-312/

# Packaging artifacts
build/
dist/
.uv-cache/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
.vscode/

# Ruff stuff:
.ruff_cache/
